<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" th:href="@{/}"><strong>GymTonic</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation" th:if="${c.role == 1}"><a class="nav-link active" th:href="@{/customerPage}">Page perso</a></li>
                <li class="nav-item" role="presentation" th:if="${c.role == 2}"><a class="nav-link active" th:href="@{/adminPage}">Page admin</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/exit}">Déconnexion</a></li>

            </ul>
        </div>
    </div>
</nav>

<div id="wrapper" th:if="${c.role == 1}">

    <div id="promo">
    <div class="jumbotron">
        <h1>Vos programmes</h1>

        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Index du programme</th>
                <th>Identifiant</th>
                <th>Mon programme</th>
            </tr>
            <tr th:each="p : ${p}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.mail}"></td>
                <td th:text="${p.proposedProgram}"></td>
            </tr>
        </table>
        <div class="col-xs-4">
            <div class="text-right">
                <a th:href="@{/newProgram}">
                    <button class="btn btn-lg btn-primary">Créer un nouveau programme</button>
                </a>

            </div>
        </div>

    </div>
</div>
    <div class="container site-section3" id="welcome">
    <h1>Vos informations personelles</h1>
    <p>Bonjour <b th:text="${c.firstName}"></b>, voici vos informations personelles :</p>
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>Prénom</th>
            <th>Nom de famille</th>
            <th>E-mail</th>
            <th>Mot de passe</th>
            <!-- TODO : le cacher par des points et l'afficher avec un bouton -->
            <th>Date de naissance</th>
            <th>Sexe</th>
        </tr>
        <tr>
            <td th:text="${c.firstName}"></td>
            <td th:text="${c.lastName}"></td>
            <td th:text="${c.mail}"></td>
            <td th:text="${c.password}"></td>
            <td th:text="${c.date}"></td>
            <td th:text="${c.gender}"></td>
        </tr>
    </table>
        <div class="text-right">
            <a th:href="@{/modifyCustomer(mail = ${c.mail})}">
                <button class="btn btn-lg btn-primary">Modifier informations</button>
            </a>

        </div>

</div>
</div>

<div id="wrapper2" th:if="${c.role == 2}">
    <div id="promo2">
        <div class="jumbotron" style="max-width:1200px">
            <h1>Voici la liste des personnes inscrites aux programmes : </h1>
            &nbsp;
             <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>id</th>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>mail</th>
                    <th>password</th>
                    <th>date</th>
                    <th>gender</th>
                    <th></th>
                </tr>
                <tr th:each="user : ${data}" th:if="${user.role != 2}">
                 <td th:text="${user.id}"></td>
                 <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.mail}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.date}"></td>
                    <td th:text="${user.gender}"></td>
                    <td>
                        <a th:href="@{/deleteCustomer(mail = ${user.mail})}" >
                            Supprimer
                     </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">GymTonic © 2018</p>
    </footer>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>