<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>


<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#"><strong>GymTonic</strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customerPage}">Mon compte</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/inscription}">Inscription</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/login}">Se connecter</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="promo" style="padding:180px;">
    <div class="jumbotron">
        <h1>Bienvenue chez GymTonic !</h1>
        <p>Profitez de programmes adaptés à votre besoin pour vous maintenir en forme et réussir à atteindre ses objectifs !</p>
        <p><a class="btn btn-primary" role="button" th:href="@{/fastProgram}">Commencez l'expérience GymTonic</a></p>
    </div>
</div>
<div class="container site-section" id="welcome">
    <h1>Bon Courage !</h1>
    <p>Ne vous en faites pas, on va vous accompagner&nbsp;</p>
</div>
<div class="container site-section2" id="why">
    <h1 class="text-capitalize" style="padding:25px;">Pourquoi nous choisir ?</h1>
    <div class="row">
        <div class="col-4"><i class="fa fa-euro"></i>
            <h2>Prix</h2>
            <p>Un prix compétitif</p>
        </div>
        <div class="col-4"><i class="fa fa-th"></i>
            <h2>Programmes</h2>
            <p>Différents programmes personalisés</p>
        </div>
        <div class="col-4"><i class="fa fa-key"></i>
            <h2>Accès</h2>
            <p>Des salles de sports à votre disposition</p>
        </div>
    </div>
</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">GymTonic © 2018</p>
    </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
