<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand"><strong>GymTonic</strong></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customerPage}">Mon compte</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/inscription}">Inscription</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/login}">Se connecter</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="promo" style="padding:180px;">
    <div class="jumbotron">
        <h1>Remplissez vos informations personnelles</h1>

        <form action="#" th:action="@{/inscription}" th:object="${customer}" method="post">
            <div class="form-group" align="left">
                <label for="firstName">Prénom</label>
                <input type="text" class="input-lg form-control" id="firstName"
                       th:field="*{firstName}" placeholder="Prénom" required>
            </div>
            <div class="form-group" align="left">
                <label for="lastName">Nom de famille</label>
                <input type="text" id="lastName" class="input-lg form-control"
                       th:field="*{lastName}" placeholder="Nom" required>
            </div>
            <div class="form-group" align="left">

                <label for="mail">Mail</label>
                <input type="email" id="mail" class="input-lg form-control required"
                       th:field="*{mail}" placeholder="Mail" required>
            </div>
            <div class="form-group" align="left">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="input-lg form-control"
                       th:field="*{password}" placeholder="Mot de passe" required>
            </div>
            <div class="form-group" align="left">
                <label for="date">Date de naissance</label>
                <input type="date" id="date" class="input-lg form-control"
                       th:field="*{date}" placeholder="Date" required>
            </div>

            <div class="form-group" align="left">
                <label>Sexe : </label>
                <SELECT name="gender" size="1" required>
                    <OPTION>Homme</OPTION>
                    <OPTION>Femme</OPTION>
                </SELECT>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
<!-- /.row -->

<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/" target=_blank><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/" target=_blank><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
        </ul>
        <p class="copyright">GymTonic © 2018</p>
    </footer>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
